---
import demo from "../../images/css.png";
import { type CollectionEntry, getEntry } from "astro:content";

export interface Props {
	category: string,
	categoryLink: string,
	title: string,
	author: string,
	description: string,
	link: string,
}

const { title, author, description, category, categoryLink, link } = Astro.props as Props;


---

<div class="card">
	
		<a class="category" href={categoryLink}>
			<span class="crossword-tag">#{category}</span>
		</a>
		<a class="link" href={link}>
			<h2>{title}</h2>
		</a>
		<p class="author">By <strong>{author}</strong></p>
		<p>{description}</p>

</div>

<style lang="scss">
	.card {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		align-items: start;
		//height: 100%;
		background-color: hsl(0deg 0% 100% / 0.8);
		border: 1px solid var(--clr-grey-800);
		border-radius: var(--radius);
		padding: 0.55rem 0.85rem 0.75rem 0.85rem;
		color: var(--clr-grey-400);
		box-shadow: 0 0 4px -1px hsl(var(--shadow-color) / 0.5);		
	}

	a.link, a.category {
		display: flex;
		width: fit-content;

		&:focus, &:hover {
			outline-color: transparent;
			text-decoration: 2px underline var(--underline, var(--clr-grey-400));
		}
	}


	a.category {
		--underline: #3dda35;
		text-decoration: none;
		span.crossword-tag {
			--font-size: var(--step-0);
			--font-weight: 900;
			--drop-shadow: drop-shadow(0px 0px 1px #00000025);
		}
	}


	a.link {
		text-decoration: none;
		color: var(--clr-grey-400);


		h2 {
			letter-spacing: -1px;
			line-height: 0.9;
			font-size: 1.85rem;
		}
	}


	p.author { 
		margin-top: 0.25rem;
		font-size: 1rem;
		color: var(--clr-grey-500);
		line-height: 1.2;
	}

	p {
		line-height: 1.5;
	}
</style>
